*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid lime; */
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&family=Ubuntu+Mono:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #131515;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.link:visited,
.link:hover,
.link:active {
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

/* Header Styles */
header {
  background-color: #2b2c28;
  padding: 20px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  border: solid #61645a;
  border-width: 0 0 2px 0;
}

header h1 {
  color: #fff;
  margin: 0;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.5rem;
}

ul.navbar li {
  display: inline-flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  width: 10vw;
}

.nav-wrapper {
  background-color: #2b2c28;
  display: flex;
  justify-content: space-around;
  width: 40vw;
  opacity: 1;
}

.navbar {
  padding: 0;
  display: inline-flex;
}

ul.navbar li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-flex;
  align-items: center;
}

/* Main Section Styles */
main {
  background-color: #2b2c28;
  flex: 1;
  display: flex;
}

/* Home Page */
.content-container-home {
  display: flex;
  flex: 1;
  height: 83vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.content-container-home img {
  display: flex;
  height: 70vh;
  max-height: 60vh;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 5vw;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  position: absolute;
  top: 17vh;
  right: 15vw;
}

.content-container-home img:hover {
  transform: scale(1.1);
}

.home-p {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vw;
  font-size: 4em;
  line-height: 1.5em;
  padding: 0 50px;
  top: 25vh;
  left: 15vw;
  position: absolute;
}

.home-p p {
  font-family: 'Urbanist', sans-serif;
}

.preorder {
  padding-top: 5vh;
  text-decoration: underline;
}

.stripe {
  background: radial-gradient(
    ellipse at left center,
    rgba(39, 93, 156, 1) 0%,
    rgb(17, 30, 76) 84%
  );
  height: 40vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 25vh;
}

/* Books Page */

.slider-container {
  overflow: hidden;
  position: relative;
}

.book-wrapper {
  --image-index: 0;
  display: flex;
  flex-direction: row;
  transition: transform 1s ease;
  scroll-behavior: smooth;
}

.book-container {
  background-color: #2b2c28;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 83vh;
  max-height: 83vh;
  min-width: 100vw;
  width: 0vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

#book-1 {
  background: radial-gradient(
    ellipse at left center,
    rgba(39, 93, 156, 1) 0%,
    rgba(2, 7, 25, 1) 84%
  );
}

#book-2 {
  background: radial-gradient(
    ellipse at left center,
    rgb(127, 22, 95) 0%,
    rgb(35, 9, 47) 84%
  );
}

#book-3 {
  background: radial-gradient(
    ellipse at left center,
    rgb(127, 22, 95) 0%,
    rgb(35, 9, 47) 84%
  );
}

.book-container img {
  height: auto;
  max-height: 60vh;
  width: 25vw;
  padding-right: 5vw;
  flex-shrink: 0;
  flex-grow: 0;
}

.desc-container {
  color: #fff;
  width: 70%;
  text-align: LEFT;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 2vh;
}

.desc-container h1 {
  font-size: 3vh;
  padding: 2vh;
  font-family: 'Urbanist', sans-serif;
  font-style: italic;
}

.desc-container p {
  padding: 2vh;
  font-family: 'Urbanist', sans-serif;
}

.slider-container button {
  display: flex;
}

.img-slider-btn {
  all: unset;
  width: 5vw;
  opacity: 0.5;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(to top, #826182, 5%, #2b2c28);
  transition: opacity 300ms ease-in-out;
  font-size: 6vh;
  align-items: center;
  justify-content: center;
}

.img-slider-btn.left::before {
  content: '\021D0';
}
.img-slider-btn.right::before {
  content: '\021D2';
}

.img-slider-btn:hover {
  opacity: 0.8;
}

.img-slider-btn.left {
  left: 0;
  border: solid #61645a;
  border-width: 0 2px 0 0;
}

.img-slider-btn.right {
  right: 0;
  border: solid #61645a;
  border-width: 0 0 0 2px;
}

/* About Page */
.about-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 83vh;
  width: 100%;
  z-index: 100;
}

.author-image {
  height: 80vh;
}

.author-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  padding: 25px;
  height: 40vh;
  max-height: 40vh;
  background: rgb(245, 166, 35);
  background: radial-gradient(
    circle,
    rgba(245, 166, 35, 1) 0%,
    rgba(130, 91, 38, 1) 69%,
    rgba(59, 47, 29, 1) 100%
  );
}

.author-bio p {
  color: #fff;
  margin: 1em 0;
  font-family: 'Urbanist', sans-serif;
}

footer {
  background-color: #2b2c28;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: 7vh;
  border: solid #61645a;
  border-width: 2px 0 0 0;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.navbar-footer {
  display: none;
}

.social-nav-footer {
  display: flex;
  justify-content: space-between;
}

.social-nav-footer li {
  opacity: 0.4;
  display: inline-flex;
  padding-right: 2vw;
}
.social-nav-footer li img {
  width: 32px;
}

/* Animations */

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}

/* ---------- Fog ---------- */
.fog {
  z-index: 1;
}
.fogwrapper {
  height: 85vh;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 85vh;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 85vh;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
}
#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png')
    center center/cover no-repeat transparent;
}
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png')
    center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}

.privacy-policy {
  padding: 20px;
  line-height: 1.6;
  color: #fff;
}

.privacy-policy h1,
.privacy-policy h2 {
  margin-top: 20px;
}

.privacy-policy p {
  margin-bottom: 10px;
}

.policy {
  display: flex;
  align-items: center;
  opacity: 0.4;
  padding-left: 2vw;
}

@media only screen and (max-width: 600px) {
  .fog {
    display: none;
  }

  header h1 {
    font-size: 2rem;
    width: 100vw;
    justify-content: center;
  }
  header {
    justify-content: center;
  }
  .nav-wrapper {
    display: none;
  }
  .navbar {
    display: none;
  }

  footer {
    height: 15vh;
  }

  .nav-wrapper-footer {
    display: flex;
  }

  .navbar-footer {
    display: flex;
    justify-content: space-around;
  }

  .social-nav-footer {
    padding-top: 2vh;
  }

  .social-wrapper li {
    margin: 1vw;
  }

  ul.navbar-footer li {
    display: inline-flex;
    width: 20vw;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    border: solid #fff;
    border-width: 0 0 2px 0;
    font-size: 1.5rem;
    margin: 0;
  }

  /* Home Page */

  .content-container-home {
    display: flex;
    flex: 1;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    z-index: 1;
    position: sticky;
    background-image: url('./assets/mobile-bg.png');
    background-size: cover;
    background-position: center;
  }

  .content-container-home img {
    display: flex;
    height: 50vh;
    width: 65vw;
    max-height: 30vh;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 0vw;
    margin-top: 5vh;
    margin-left: 25vw;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    position: relative;
    top: 0vh;
    right: 0vw;
  }

  .home-p {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: 20vh;
    width: 100vw;
    font-size: 2em;
    line-height: 1.5em;
    padding: 0 50px;
    z-index: 4;
    background: radial-gradient(
      ellipse at left center,
      rgba(39, 93, 156, 1) 0%,
      rgb(17, 30, 76) 84%
    );
    position: relative;
    top: 0vh;
    left: 0vw;
  }

  .stripe {
    display: none;
  }

  .preorder {
    padding-top: 2vh;
  }

  .book-wrapper {
    flex-direction: column;
    overflow: scroll;
  }
  .book-container {
    flex-direction: column;
    opacity: 1;
    max-height: 185vh;
    height: auto;
  }
  .book-container img {
    padding: 25px;
    width: 70vw;
  }

  #book-1 {
    background: radial-gradient(
      circle,
      rgba(39, 93, 156, 1) 0%,
      rgba(2, 7, 25, 1) 84%
    );
  }
  .desc-container {
    padding: 25px;
    font-size: 1.2rem;
    width: 100vw;
  }

  .slider-container button {
    display: none;
  }

  .slider-container {
    display: flex;
  }

  .about-wrapper {
    background-image: url('./assets/mobile-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 123vh;
    z-index: 0;
  }

  .author-image {
    padding-top: 25px;
    height: 40vh;
  }

  .author-bio {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding: 25px;
    height: 80vh;
    max-height: 83vh;
  }

  .author-bio p {
    margin: 1em 0;
    height: 83vh;
  }
}
