*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid lime; */
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #131515;
}


h1,
h2,
p,
ul,
li {
    font-family: sans-serif;
}


.header-container {
    background-color: #2B2C28;
    padding: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    color: #FFF;
    margin: 0;
    display: inline-flex;
    align-items: center;

}

ul.navbar li {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
}

ul.navbar {
    background-color: #2B2C28;
    padding: 0;
    display: inline-flex;
    justify-content: space-around;
    width: 30%;
}

ul.navbar li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-flex;
    align-items: center;
}

.content {
    background-color: #1a4311;
    flex: 1;
    display: flex;
}

.content-container-home {
    display: flex;
    flex: 1;
    height: 80vh;
    width: 100vh;
}

.container-home {
    background-color: #AF0B08;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 50px;
}

.p-container {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    padding: 20px;
}

.newsletter-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30vh;
    padding: 20px;
}

.newsletter {
    background-color: #F5A623;
    width: 30vh;
    height: 20vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-slider-img {
    object-fit: cover;
    /* width: 100%;
    height: 100%;
    display: block; */
}

.content-container-books {
    background-color: #5EB1BF;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100vh;

}

.content-container-about {
    background-color: #F5A623;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100vh;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}



.footer-container {
    background-color: #2B2C28;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    z-index: 1;
    height: 10vh;
}